<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4 project-image-container">
      <img src="{{ site.baseurl }}/{{ include.page.image }}" class="rounded project-card-img" alt="{{ include.page.title }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{ include.page.title }} <small class="text-muted float-end">{{ include.page.date }}</small></h3>
        <p class="card-text">{{ include.page.summary }}</p>
        <p>
          {% for label in include.page.labels %}
          <span style="background-color: var(--tf-pill-bg)" class="badge rounded-pill">{{ label }}</span>
          {% endfor %}
        </p>
        {% if page.projecturl %}
        <a href="{{ page.projecturl }}" class="btn btn-outline-dark">View Project</a>
        {% else %}
        <a href="{{ site.baseurl}}{{ include.page.url }}" class="btn btn-outline-dark">Read More</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
