<header class="navbar navbar-expand navbar-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">{{ site.data.bio.basics.name }}</a>
    <a class="navbar-brand-mobile" href="{{ '/' | prepend: site.baseurl }}">Mason D.</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{ '/projects/' | prepend: site.baseurl }}">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/essays/' | prepend: site.baseurl }}">Writing</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/resume.html' | prepend: site.baseurl }}">Resume</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Theme">
            <span id="theme-icon">🌙</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" data-theme="light">☀️ Light</a></li>
            <li><a class="dropdown-item" href="#" data-theme="dark">🌙 Dark</a></li>
            <li><a class="dropdown-item" href="#" data-theme="system">💻 System</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
